*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(27, 27, 27);
    color: antiquewhite;
    font-family: sans-serif;
}

h1{
    text-align: center;
    padding: 10px 0;
}

.todo-input-wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.todo-input-wrapper input{
    width: 320px;
    font-size: 24px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    padding: 8px;
}

.todo-input-wrapper button{
    padding: 0 28px;
    font-size: 28px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(20, 20, 138);
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

.todo-input-wrapper button:hover{
    background-color: blue;
}

.todos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
    font-size: 24px;

}

.todo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.todo button{
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: burlywood;
    font-weight: bold;
    border: 1px solid black;
}

/* .mark-as-done-btn{
    
} */

/* .delete-btn{

} */

